h3 Diffs
= link_to 'Back to file list', :back
/ .file_manager
/   = render 'file_manager'

= Diffy::Diff.new(@project_file.old_content, @project_file.content).to_s(:html).html_safe
br
= link_to 'Back to file list', root_path