.description
  width: 560px
  line-height: 25px
  margin: 40px auto 0
  font-family: Monaco, Consolas, "Lucida Console", monospace
  padding-bottom: 50px

.buttons
  margin: 40px 0
  text-align: center

.step
  position: relative
  height: 130px

.step-number
  font-family: 'Londrina Shadow'
  font-size: 50px
  padding-top: 75px

body.no-google-fonts
  .step-number
    font-family: Arial

.step-description
  margin-top: 20px

.step-image

  img
    border: 1px solid #888888
    border-radius: 110px
    box-shadow: 5px 5px 10px #000

.step_odd
  .step-image
    position: absolute
    left: -240px

.step_even
  text-align: right

  .step-image
    position: absolute
    left: 580px

.step-clear
  margin-top: 100px

.hacker-note
  font-size: 10px
  color: #888
