.file_manager
  width: 300px
  float: left
  
.form
  width: 700
  
  textarea
    width: 600px
    height: 1000px
    
.diff
  ul
    list-style-type: none
  
  .unchanged
    background-color: white
    
  .del
    background-color: #fdd
    
  .ins
    background-color: #dfd
